/* Artfully masterminded by ZURB  */
// SASS VARIABLES //
$text-color: #000;
// $orange: rgba(255, 85, 0, 0.9);
@import "settings";
@import "compass";


// Hide all Alert Boxes at first
div.alert-box {
    display: none;
    .close {
      margin-left: 10px;
    }
 }

footer.row {
  margin-top: 40px;
}

.container {
  overflow: hidden;
}


// body styles
body.blog {
	//background-image: url('../images/blu_stripes.png');
	//background-image: url('../images/little_pluses.png');
	//background-image: url('../images/pinstripe.png');
  background: #fff;

  div.post-body {
    /*display: none;*/
    margin-top: 20px;
    min-height: 300px;
   }

   #button-row {
      margin-bottom: 70px;

      .button.new-post {
        position: fixed;
        top: 0px;
        right: 0px;
        
      }
   }

   #plus {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 4px;
   }


}

// header styles
body.blog {
  #headerRow {
    padding-top: 20px;
  	margin-bottom: 50px;

  	h1, h2, p {
  		text-align: center;
  		color: rgba($pale-green, 1.0);
  		font: 400 95px/1.6 'Cardo', Georgia, serif;
  		letter-spacing: 3px;

  	}

  	p {
  		margin-top: 40px;
  		font: 400 17px/1.6 'Gueda', Verdana, Helvetica, sans-serif;
  		font-variant: small-caps;
  		letter-spacing: 2px;
  	}

  	// h1 {		 
  	// 	line-height: 62px;
   //    background-image: url(../images/logo.png);
   //    background-size: 50px 50px;
   //    height: 50px;
   //    width: 50px;
   //    overflow: hidden;
   //    font-size: 0px;
  	// 	@include text-shadow( 
  	// 		1px 4px 6px #eeeeee, 0 0 0 #555, 
  	// 		1px 4px 6px #eeeeee, 0px 0px 1px rgba(0,0,0,.5));
  	// 	color: rgba($pale-green, .8);		
  	// 	//color: rgba(255, 66, 0, 0.7);
  	// 	//color: rgba(255, 66, 0, 0.7);
  	// }

    a#login, a#blog-logo {
      margin-left: 50%;
    }

    img {
      margin-left: -45px;
      height: 50px;
      margin-bottom: 20px;
    }

  	dl {
      
      display: none;

  		dd {
  			font: 400 16px/1.6 'Gueda', Verdana, Helvetica, sans-serif;
        padding: 10px;
  			font-variant: small-caps;
  			.active a {
  				background-color: none;
  			}
  		}

  		&.sub-nav dd.active a {
  			background-color: transparent;
  			color: rgba($pale-green, 1.0);
  			//color: #fff;	
  			padding-bottom: 3px; //space between word and line
  			padding: 10px 20px;
  			//border-bottom: 7px solid $pale-green;
  			@include box-shadow(rgba(100,100,0,.25) 0px 0px 10px inset);
  		}
  	}
  }
}




hr {
	border-color: $pale-green;
	border-width: 0px;
  height: 1px;
  background-color: $default-color;
  width: 110%;
  position: relative;
  left: -10%;
  margin-top: 8px;
  margin-bottom: 8px;
  z-index: 0;
}

.post {

	h1, h2, h3, h4, h5, p {
  		font-family: 'Ubuntu', Georgia, serif;
  		color: rgba($pale-green, 1.0);
  		letter-spacing: 2px;
      text-align: left;
	}
 
	h5 {
	  font: 400 1.4em/1.6 'Oxygen', Verdana, Helvetica, sans-serif;
	  letter-spacing: 2px;
	  margin: -4px 0px -20px 0px;
	  color: rgba($pale-green, 0.6);
	  font-variant: 0;
	}

  .post-title {
    /*padding-left: 30px;*/
  	font-family:'Ubuntu', Georgia, serif;
    margin-bottom: 0px;
    /*font-size: 2em;*/
    text-transform: uppercase;
  }

  .post-sub-title {
    margin-bottom: 5px;
    font-size: 1.5rem;
   }

  .post-sidebar {
     position: relative;
     float: left;
     position: absolute;

     button {
      float: right;
      clear: right;
      top: 200px;
      right: 00%;
      color: white;
      float: right;
      margin-bottom: 10px;
      position: fixed;
      width: 75px;
     }

     button.green {
      top: 235px;
     }

     button.yellow {
      top: 270px;
      background: #535;
     }
   }

	p, blockquote {
		font-family: 'Oxygen', Verdana, Helvetica, sans-serif;
		letter-spacing: 1px;
		color: darken(rgba($pale-green, 1.0), 5%);
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.6;

	}

	p.post-body:first-letter {
		font-size: 64px;
		line-height: 10px;
		float: left;
		padding-right: 10px;				
		font: 400 45px/.8 'Pacifico', Georgia, serif;
		
	}

  .post-date {
     background: #000;
     padding: 7px 12px;
     display: inline-block;
     color: #fff;
     position: relative;
     top: -62px;
     z-index: 1;
     left: -130px;

     & .tags {
       clear: both;
       float: right;
       margin-top: 5px;
     }

     & #tag-list {
        display: none;
        top: 40px;
        position: absolute;
        left: 25px;
        @include transition-duration(1s);
        opacity: .1;

        &:hover {          
          opacity: 1.0;
        }
     }
   }
}

#reveal-Login {
  width: 300px;
  margin-left: -200px;
}

#reveal-delete {
  button {
    margin-right: 50px;
    margin-top: 20px;
  }
}

.previous {
  @extend .next;
  float: left !important;
}

#livePreview {
  position: relative;
  left: 50%;
  width: 600px;
  width: 50%;
  padding-left: 20px;
}

#rawMarkdown {
  position: absolute;
  left: 00%;
  width: 500px;
  width: 50%;

  textarea {
    line-height: 2.2rem;
    font-size: 1.4rem;
  }
}

.next {
  float: right;
  font: 400 1.2em/1.2 'Oxygen', Georgia, serif;
  color: #bbb;
  max-width: 300px;
  overflow: hidden;
  margin-top: 30px;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  position: relative;
  border-bottom: 1px #bbb dotted;
  @include transition-property(all);
  @include transition-duration(1s);
  &:hover {
    color: #333;
    border-color: #333;
 
  }
}

// CSS Helper Classes
.mock {
	//background-color: #eee;
}

.ctr-ctn {
	float: right;
	position: relative;
	right: 50%;
}

.ctr-block {
	float: right;
	position: relative;
	right: -50%;
}

code {
  font-family: monospace, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0px;
  background-color: #000;
  line-height: 1.3em;
  padding: 20px !important;
  overflow: hidden;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; 
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}


/* PORTFOLIO HOME STYLES */

body.portfolio {
  background: #000 url('/images/home/Galaxy_BG.jpg') no-repeat center top;
  
    h1,h2,h3,h4,h5,h6,p, a {
      color: rgba(157,248,219,1);
      // color: $pale-green;
    }

    .post, .portfolio-detail {
      h1,h2,h3,h4,h5,h6,p, a {
        color: rgba(157,248,219,1);
        margin: 0px 0 10px;
      }

      h1,h2,h3,h4,h5,h6 {
        font-family: Quantico;
        // font-size: 1.0em;
      }

      h5,h6 {
        margin-bottom: -9px;
        opacity: 0.6;
      }

      h5.post-sub-title {
        margin-bottom: 20px;
        font-size: .6em;
        opacity: 1.0;
        text-transform: uppercase;
      }

      .post-date {
        background-color: $teal;
        color: black;
      }

      hr {
        border-color: #000;
        border-width: 0px;
        opacity: 0.5;
        height: 1px;
        background-color: $teal;
        width: 110%;
        position: relative;
        left: -10%;
        margin-top: 8px;
        margin-bottom: 8px;
        z-index: 0;
      }

    }

  #portfolio-logo {
    position: relative;
    left: 50%;
    margin-left: -55px;
    opacity: 1.0;
    display: block;
    @include transition-property(opacity); 
    @include transition-duration(.5s);

    &:hover {
      opacity: 1.0;
    }
  }

  .sub-nav {
    // display: none;
    // font-family: Iceland;
    padding: 20px 0;
    font-family: Quantico;
    font-size: 1.0em;
    // font-weight: 700;
    text-transform: uppercase;
    // font-family: Electrolize;
    // font-family: Or

    dd {
      // padding-right: .4em;
      letter-spacing: .15em;
      display: block; 
      position: relative;

      a {
        display: block;
        margin-right: 10px;
        padding: 10px 0;
        // padding: 0 10px;
        position: relative;
        @include transition-property(all); 
        @include transition-duration(.3s);           
      }

      a.current, a.current:hover {
        font-weight: 700;
        // color: #fff;
        z-index: 12;
        @include text-shadow(rgba(157,248,219,.5) 0px 0px 10px, rgba(157,248,219,.8) 0px 0px 5px, rgba(157,248,219,.1) 0px 0px 15px);
        width: 110%;
      }

      a:hover {
        @extend a.current;
        font-weight: 400;
      }
    }
  }

  #face {
    position: relative;
    // top: 20px;
    left: 50%;
    margin-left: -140px;  
  }

  #face-ctn {
    position: relatve;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("/images/home/Pentagon_Ring.png") no-repeat center;
    background-position: 50% 0px;
  }

  .portfolio-detail {
    position: absolute;
    top: 10%;
    left: -100%;

    p {
      font-size: 1.0em;
      line-height: 1.6em;
      font-family: 'Oxygen', Verdana, Helvetica, sans-serif;
      letter-spacing: 1px;
    }

  }

  #headerRow {
    padding-top: 2.5%;
  }

  #nav-ring {

    #featured-project {
        min-width: 200px !important;
    }  

    .rect-link {
      position: relative;
      z-index: 10;
      padding: 5px 7px;
      color: #000;
      background: rgba(157,248,219,1);
      // font-family: Iceland;
      font-family: Quantico;
      // font-family: Electrolize;
      // font-family: Orbitron;
      font-size: 1.0em;
      letter-spacing: .15em;
      // font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      min-width: 160px;
      @include transition-property(all); 
      @include transition-duration(.3s);      

      &:hover {
        // background: rgba(157,248,219,1.0);
        @include box-shadow(rgba(157,248,219,.5) 0px 0px 10px, rgba(157,248,219,.8) 0px 0px 5px, rgba(157,248,219,.1) 0px 0px 15px);
        // background: rgba(255,255,255,1.0);
      }

    }

    .rect-link:before {
      content:"";
      display:block;
      position:absolute;
      z-index:20;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      border: 2px solid #000;
    }
  }

  // Push Everything except the header down by 40px  

}


.button.new-post {
  position: fixed;
  top: 0px;
  right: 0px;
  
}

body.portfolio .post-body .post {
  color: white !important;
  margin-top: 20px;
}


@media only screen and (min-width: 768px) {
  #dl-resume {
    // left: 230px;
    // bottom: 40px;
    left: 23%;
    bottom: 90px;
  }

  #about {
    left: 60%;
    bottom: 556px;
  }

  #featured-project {
    bottom: 475px;
    left: -15%;
  }

  #skills {
    bottom: 260px;
    left: 75%;
  }

  #zeus-name {
    position: relative;
    bottom: 190px;
    left: 6%;
  }

  body.portfolio .portfolio-content {
    margin-top: 0px;
  }  
}

@media only screen and (min-width: 860px) {
  #dl-resume {
    // left: 230px;
    // bottom: 40px;
    left: 30%;
    bottom: 90px;
  }

  #about {
    left: 60%;
    // bottom: 556px;
  }

  #featured-project {    
    left: 0%;
  }

  #skills {
    // bottom: 230px;
    left: 70%;
  }

  #zeus-name {
    position: relative;
    bottom: 190px;
    left: 6%;
  }

  body.portfolio #content {
    margin-top: 40px;
  }
}


// Mobile Phone styles
@media only screen and (max-width: 767px) {
  
  // br {
  //   display: none;
  // }

  #dl-resume {
    
  }

  #about {

  } 

  #featured-project {

  }

  #skills {

  }

  #zeus-name {
    margin-bottom: 20px;
    display: block;
  }

  #face-ctn {
    // Remove the Pentagon Ring
    background: none !important;
  }

  #nav-ring .rect-link {
    position: relative !important;
    display: inline-block !important;
       
  }

  #nav-ring {
    margin-top: 20px;
    padding-bottom: -25%;
  }

  // Center Body Fix for iPHone
  .touch body.portfolio {
    padding: 0 20px;

    .container {
      padding: 0;
    }
  }

  body.portfolio .portfolio-detail {
    position: relative;
    margin-top: 20px;
    left: -200%;
    display: none;
  }

}





































































