/* Artfully masterminded by ZURB  */
/* line 10, ../sass/app.scss */
div.alert-box {
  display: none;
}
/* line 12, ../sass/app.scss */
div.alert-box .close {
  margin-left: 10px;
}

/* line 17, ../sass/app.scss */
footer.row {
  margin-top: 40px;
}

/* line 21, ../sass/app.scss */
.container {
  overflow: hidden;
}

/* line 27, ../sass/app.scss */
body.blog {
  background: #fff;
}
/* line 33, ../sass/app.scss */
body.blog div.post-body {
  /*display: none;*/
  margin-top: 20px;
  min-height: 300px;
}
/* line 39, ../sass/app.scss */
body.blog #button-row {
  margin-bottom: 70px;
}
/* line 42, ../sass/app.scss */
body.blog #button-row .button.new-post {
  position: fixed;
  top: 0px;
  right: 0px;
}
/* line 50, ../sass/app.scss */
body.blog #plus {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 4px;
}

/* line 61, ../sass/app.scss */
body.blog #headerRow {
  padding-top: 20px;
  margin-bottom: 50px;
}
/* line 65, ../sass/app.scss */
body.blog #headerRow h1, body.blog #headerRow h2, body.blog #headerRow p {
  text-align: center;
  color: #323232;
  font: 400 95px/1.6 "Cardo", Georgia, serif;
  letter-spacing: 3px;
}
/* line 73, ../sass/app.scss */
body.blog #headerRow p {
  margin-top: 40px;
  font: 400 17px/1.6 "Gueda", Verdana, Helvetica, sans-serif;
  font-variant: small-caps;
  letter-spacing: 2px;
}
/* line 96, ../sass/app.scss */
body.blog #headerRow a#login, body.blog #headerRow a#blog-logo {
  margin-left: 50%;
}
/* line 100, ../sass/app.scss */
body.blog #headerRow img {
  margin-left: -45px;
  height: 50px;
  margin-bottom: 20px;
}
/* line 106, ../sass/app.scss */
body.blog #headerRow dl {
  display: none;
}
/* line 110, ../sass/app.scss */
body.blog #headerRow dl dd {
  font: 400 16px/1.6 "Gueda", Verdana, Helvetica, sans-serif;
  padding: 10px;
  font-variant: small-caps;
}
/* line 114, ../sass/app.scss */
body.blog #headerRow dl dd .active a {
  background-color: none;
}
/* line 119, ../sass/app.scss */
body.blog #headerRow dl.sub-nav dd.active a {
  background-color: transparent;
  color: #323232;
  padding-bottom: 3px;
  padding: 10px 20px;
  -webkit-box-shadow: rgba(100, 100, 0, 0.25) 0px 0px 10px inset;
  -moz-box-shadow: rgba(100, 100, 0, 0.25) 0px 0px 10px inset;
  box-shadow: rgba(100, 100, 0, 0.25) 0px 0px 10px inset;
}

/* line 135, ../sass/app.scss */
hr {
  border-color: rgba(50, 50, 50, 0.8);
  border-width: 0px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.7);
  width: 110%;
  position: relative;
  left: -10%;
  margin-top: 8px;
  margin-bottom: 8px;
  z-index: 0;
}

/* line 150, ../sass/app.scss */
.post h1, .post h2, .post h3, .post h4, .post h5, .post p {
  font-family: 'Ubuntu', Georgia, serif;
  color: #323232;
  letter-spacing: 2px;
  text-align: left;
}
/* line 157, ../sass/app.scss */
.post h5 {
  font: 400 1.4em/1.6 "Oxygen", Verdana, Helvetica, sans-serif;
  letter-spacing: 2px;
  margin: -4px 0px -20px 0px;
  color: rgba(50, 50, 50, 0.6);
  font-variant: 0;
}
/* line 165, ../sass/app.scss */
.post .post-title {
  /*padding-left: 30px;*/
  font-family: 'Ubuntu', Georgia, serif;
  margin-bottom: 0px;
  /*font-size: 2em;*/
  text-transform: uppercase;
}
/* line 173, ../sass/app.scss */
.post .post-sub-title {
  margin-bottom: 5px;
  font-size: 1.5rem;
}
/* line 178, ../sass/app.scss */
.post .post-sidebar {
  position: relative;
  float: left;
  position: absolute;
}
/* line 183, ../sass/app.scss */
.post .post-sidebar button {
  float: right;
  clear: right;
  top: 200px;
  right: 00%;
  color: white;
  float: right;
  margin-bottom: 10px;
  position: fixed;
  width: 75px;
}
/* line 195, ../sass/app.scss */
.post .post-sidebar button.green {
  top: 235px;
}
/* line 199, ../sass/app.scss */
.post .post-sidebar button.yellow {
  top: 270px;
  background: #535;
}
/* line 205, ../sass/app.scss */
.post p, .post blockquote {
  font-family: 'Oxygen', Verdana, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #252525;
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.6;
}
/* line 215, ../sass/app.scss */
.post p.post-body:first-letter {
  font-size: 64px;
  line-height: 10px;
  float: left;
  padding-right: 10px;
  font: 400 45px/0.8 "Pacifico", Georgia, serif;
}
/* line 224, ../sass/app.scss */
.post .post-date {
  background: #000;
  padding: 7px 12px;
  display: inline-block;
  color: #fff;
  position: relative;
  top: -62px;
  z-index: 1;
  left: -130px;
}
/* line 234, ../sass/app.scss */
.post .post-date .tags {
  clear: both;
  float: right;
  margin-top: 5px;
}
/* line 240, ../sass/app.scss */
.post .post-date #tag-list {
  display: none;
  top: 40px;
  position: absolute;
  left: 25px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  opacity: .1;
}
/* line 248, ../sass/app.scss */
.post .post-date #tag-list:hover {
  opacity: 1.0;
}

/* line 255, ../sass/app.scss */
#reveal-Login {
  width: 300px;
  margin-left: -200px;
}

/* line 261, ../sass/app.scss */
#reveal-delete button {
  margin-right: 50px;
  margin-top: 20px;
}

/* line 267, ../sass/app.scss */
.previous {
  float: left !important;
}

/* line 272, ../sass/app.scss */
#livePreview {
  position: relative;
  left: 50%;
  width: 600px;
  width: 50%;
  padding-left: 20px;
}

/* line 280, ../sass/app.scss */
#rawMarkdown {
  position: absolute;
  left: 00%;
  width: 500px;
  width: 50%;
}
/* line 286, ../sass/app.scss */
#rawMarkdown textarea {
  line-height: 2.2rem;
  font-size: 1.4rem;
}

/* line 292, ../sass/app.scss */
.next, .previous {
  float: right;
  font: 400 1.2em/1.2 "Oxygen", Georgia, serif;
  color: #bbb;
  max-width: 300px;
  overflow: hidden;
  margin-top: 30px;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  position: relative;
  border-bottom: 1px #bbb dotted;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 305, ../sass/app.scss */
.next:hover, .previous:hover {
  color: #333;
  border-color: #333;
}

/* line 317, ../sass/app.scss */
.ctr-ctn {
  float: right;
  position: relative;
  right: 50%;
}

/* line 323, ../sass/app.scss */
.ctr-block {
  float: right;
  position: relative;
  right: -50%;
}

/* line 329, ../sass/app.scss */
code {
  font-family: monospace, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0px;
  background-color: #000;
  line-height: 1.3em;
  padding: 20px !important;
  overflow: hidden;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* PORTFOLIO HOME STYLES */
/* line 347, ../sass/app.scss */
body.portfolio {
  background: black url("/images/home/Galaxy_BG.jpg") no-repeat center top;
}
/* line 350, ../sass/app.scss */
body.portfolio h1, body.portfolio h2, body.portfolio h3, body.portfolio h4, body.portfolio h5, body.portfolio h6, body.portfolio p, body.portfolio a {
  color: #9df8db;
}
/* line 356, ../sass/app.scss */
body.portfolio .post h1, body.portfolio .post h2, body.portfolio .post h3, body.portfolio .post h4, body.portfolio .post h5, body.portfolio .post h6, body.portfolio .post p, body.portfolio .post a {
  color: #9df8db;
  margin: 0px 0 10px;
}
/* line 361, ../sass/app.scss */
body.portfolio .post h1, body.portfolio .post h2, body.portfolio .post h3, body.portfolio .post h4, body.portfolio .post h5, body.portfolio .post h6 {
  font-family: Quantico;
}
/* line 366, ../sass/app.scss */
body.portfolio .post h5, body.portfolio .post h6 {
  margin-bottom: -9px;
  opacity: 0.6;
}
/* line 371, ../sass/app.scss */
body.portfolio .post h5.post-sub-title {
  margin-bottom: 20px;
  font-size: .6em;
  opacity: 1.0;
  text-transform: uppercase;
}
/* line 378, ../sass/app.scss */
body.portfolio .post .post-date {
  background-color: #9df8db;
  color: black;
}
/* line 383, ../sass/app.scss */
body.portfolio .post hr {
  border-color: #000;
  border-width: 0px;
  opacity: 0.5;
  height: 1px;
  background-color: #9df8db;
  width: 110%;
  position: relative;
  left: -10%;
  margin-top: 8px;
  margin-bottom: 8px;
  z-index: 0;
}
/* line 399, ../sass/app.scss */
body.portfolio #portfolio-logo {
  position: relative;
  left: 50%;
  margin-left: -55px;
  opacity: 1.0;
  display: block;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 408, ../sass/app.scss */
body.portfolio #portfolio-logo:hover {
  opacity: 1.0;
}
/* line 413, ../sass/app.scss */
body.portfolio .sub-nav {
  padding: 20px 0;
  font-family: Quantico;
  font-size: 1.0em;
  text-transform: uppercase;
}
/* line 424, ../sass/app.scss */
body.portfolio .sub-nav dd {
  letter-spacing: .15em;
  display: block;
  position: relative;
}
/* line 430, ../sass/app.scss */
body.portfolio .sub-nav dd a {
  display: block;
  margin-right: 10px;
  padding: 10px 0;
  position: relative;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 440, ../sass/app.scss */
body.portfolio .sub-nav dd a.current, body.portfolio .sub-nav dd a:hover, body.portfolio .sub-nav dd a.current:hover, body.portfolio .sub-nav dd a:hover {
  font-weight: 700;
  z-index: 12;
  text-shadow: rgba(157, 248, 219, 0.5) 0px 0px 10px, rgba(157, 248, 219, 0.8) 0px 0px 5px, rgba(157, 248, 219, 0.1) 0px 0px 15px;
  width: 110%;
}
/* line 448, ../sass/app.scss */
body.portfolio .sub-nav dd a:hover {
  font-weight: 400;
}
/* line 455, ../sass/app.scss */
body.portfolio #face {
  position: relative;
  left: 50%;
  margin-left: -140px;
}
/* line 461, ../sass/app.scss */
body.portfolio #face-ctn {
  position: relatve;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("/images/home/Pentagon_Ring.png") no-repeat center;
  background-position: 50% 0px;
}
/* line 469, ../sass/app.scss */
body.portfolio #headerRow {
  padding-top: 2.5%;
}
/* line 474, ../sass/app.scss */
body.portfolio #nav-ring .rect-link {
  position: relative;
  z-index: 10;
  padding: 5px 7px;
  color: #000;
  background: #9df8db;
  font-family: Quantico;
  font-size: 1.0em;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  min-width: 160px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 494, ../sass/app.scss */
body.portfolio #nav-ring .rect-link:hover {
  -webkit-box-shadow: rgba(157, 248, 219, 0.5) 0px 0px 10px, rgba(157, 248, 219, 0.8) 0px 0px 5px, rgba(157, 248, 219, 0.1) 0px 0px 15px;
  -moz-box-shadow: rgba(157, 248, 219, 0.5) 0px 0px 10px, rgba(157, 248, 219, 0.8) 0px 0px 5px, rgba(157, 248, 219, 0.1) 0px 0px 15px;
  box-shadow: rgba(157, 248, 219, 0.5) 0px 0px 10px, rgba(157, 248, 219, 0.8) 0px 0px 5px, rgba(157, 248, 219, 0.1) 0px 0px 15px;
}
/* line 502, ../sass/app.scss */
body.portfolio #nav-ring .rect-link:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 20;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 2px solid #000;
}

/* line 520, ../sass/app.scss */
.button.new-post {
  position: fixed;
  top: 0px;
  right: 0px;
}

/* line 527, ../sass/app.scss */
body.portfolio .post-body .post {
  color: white !important;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  /* line 534, ../sass/app.scss */
  #dl-resume {
    left: 23%;
    bottom: 90px;
  }

  /* line 541, ../sass/app.scss */
  #about {
    left: 60%;
    bottom: 556px;
  }

  /* line 546, ../sass/app.scss */
  #featured-project {
    bottom: 475px;
    left: -15%;
  }

  /* line 551, ../sass/app.scss */
  #skills {
    bottom: 260px;
    left: 75%;
  }

  /* line 556, ../sass/app.scss */
  #zeus-name {
    position: relative;
    bottom: 190px;
    left: 6%;
  }

  /* line 562, ../sass/app.scss */
  body.portfolio .portfolio-content {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 860px) {
  /* line 568, ../sass/app.scss */
  #dl-resume {
    left: 30%;
    bottom: 90px;
  }

  /* line 575, ../sass/app.scss */
  #about {
    left: 60%;
  }

  /* line 580, ../sass/app.scss */
  #featured-project {
    left: 0%;
  }

  /* line 585, ../sass/app.scss */
  #skills {
    left: 70%;
  }

  /* line 590, ../sass/app.scss */
  #zeus-name {
    position: relative;
    bottom: 190px;
    left: 6%;
  }

  /* line 596, ../sass/app.scss */
  body.portfolio #content {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 620, ../sass/app.scss */
  #zeus-name {
    margin-bottom: 20px;
    display: block;
  }

  /* line 625, ../sass/app.scss */
  #face-ctn {
    background: none !important;
  }

  /* line 630, ../sass/app.scss */
  #nav-ring .rect-link {
    position: relative !important;
  }

  /* line 637, ../sass/app.scss */
  .touch body.portfolio {
    padding: 0 20px;
  }
  /* line 640, ../sass/app.scss */
  .touch body.portfolio .container {
    padding: 0;
  }
}
